.transparent-cert-icon {
  @include float(left);
  @include margin-right($baseline*0.4);

  margin-top: ($baseline/4);
  background: url('#{$static-path}/images/icon-cert-white.svg') no-repeat;
  background-position: -4px -5px;
  width: 20px;
  height: 18px;
}
